# 告诉EditorConfig插件，这是根文件，不用继续往上查找
root = true

# 匹配全部文件
[*]
end_of_line = lf

# 设置字符集
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# 缩进风格，可选"space"、"tab"
indent_style = tab
# 缩进的空格数
indent_size = 4

[*.md]
trim_trailing_whitespace = false
