
.link_a_line{
  color: #5991f7;
  display: inline-block;
  margin-left: 10px;
}
.link_a_line.red{
  color: #f75867;
}
.link_a_line:hover{
  text-decoration: underline;
}

.bor_a {
  border: 1px solid #cedeee;
  overflow-y: auto;
  margin-bottom: 10px;
}

.des_a {
  .ant-descriptions-view {
    border: none;
  }

  .ant-descriptions-view table tr td {
    padding: 10px !important;
    border-color: #e2e2e2;
    min-width: 200px;
  }

  .ant-descriptions-row {
    border-color: #e2e2e2;
  }

  .ant-descriptions-item-label {
    padding: 10px;
    background: #f2f2f2;
    border-color: #e2e2e2;
    width: 200px;
  }
}

.content_wrap{
  white-space: pre-wrap;
}