
.link_a_line{
  color: #5991f7;
  display: inline-block;
  margin-left: 10px;
}
.link_a_line.red{
  color: #f75867;
}
.link_a_line:hover{
  text-decoration: underline;
}

.bor_a {
  border: 1px solid #cedeee;
  overflow-y: auto;
  margin-bottom: 10px;
}

.des_a {
  .ant-descriptions-view {
    border: none;
  }

  .ant-descriptions-view table tr td {
    padding: 10px !important;
    border-color: #e2e2e2;
    min-width: 200px;
  }

  .ant-descriptions-row {
    border-color: #e2e2e2;
  }

  .ant-descriptions-item-label {
    padding: 10px;
    background: #f2f2f2;
    border-color: #e2e2e2;
    width: 200px;
  }
}

.content_wrap{
  white-space: pre-wrap;
}

.xqPlace {
	padding: 15px;
	background-color: #fff;
	margin-bottom: 20px;
	.plTit {
		font-size: 16px;
		font-weight: bold;
		color: #333333;
		line-height: 24px;
		height: 24px;
		padding-left: 12px;
		position: relative;
		border-bottom: 1px solid #E6E6E6;
		.num{
			color: #016FFF;
			margin-left: 5px;
		}
		&::before {
			content: '';
			width: 4px;
			height: 16px;
			background: linear-gradient(180deg, #3889FF 0%, #6FAAFF 100%);
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
		&.sub {
			padding-left: 0;
			&::before {
				display: none;
			}
		}
	}
}


// 右侧浮框
.rightNav{
	position: fixed;
	right: 0px;
	bottom: 20px;
	z-index: 999;
	width: 55px;
	li{
		text-align: center;
		font-size: 13px;
		height: 40px;
		width: 40px;
		color: #333;
		cursor: pointer;
		background: #fff;
		box-shadow: 2px 3px 20px 1px rgba(0,0,0,0.1000);
		border-radius: 50%;
		position: relative;
		&:hover{
			box-shadow: 2px 3px 20px 1px rgba(0,0,0,0.2000);
			p{
				display: block;
			}
		}
		margin-top: 10px;
		p{
			position: absolute;
			display: none;
			white-space: nowrap;
			background: #fff;
			line-height: 60px;
			box-shadow: 2px 3px 20px 1px rgba(0,0,0,0.1000);
			padding: 0px 10px;
			left: -10px;
			transform: translateX(-100%);
			top: 0px;
			border-radius: 5px;
		}
		i{
			display: block;
			height: 40px;
			&.zd{
				background: url(../image/right_nav/icon_top.png) no-repeat center;
				background-size: 20px;
			}
			&.back{
				background: url(../image/right_nav/icon-back.png) no-repeat center;
				background-size: 20px;
			}
		}
	}
}
